body {
   /* background-color: rgba(75, 178, 185, 0.5); */
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: 'Saira Condensed', sans-serif;
   background-image: url(./image/01.jpg);
   background-repeat: no-repeat;
   color: rgb(216, 219, 226);
   user-select: none;
}
.popup , .popup-results{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(20, 20, 20, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.active {
    display: flex;
}
.activep {
    display: flex;
}

.popup-content {
    display: inline;
    background-color:  rgba(118, 179, 211, 0.7);
    width: 60%;
    height: 50%;
    position: relative;
    text-align: center;
}
.res {
    list-style-type: none;
}
.results-container {
    display: flex;
    flex-direction: column;
    background-color:  rgba(118, 179, 211, 0.7);
    width: 60%;
    height: 50%;
    position: relative;
    text-align: center; 
    font-size: 17px;
}
.main-container {
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.options {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.shuffle , .load, .save , .results {
    background-color: rgba(118, 179, 211, 0.5);
    border: 1px solid rgb(97, 71, 121);
    box-shadow: 0 10px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.3);
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}
.options-time {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 30px;
}
.time-game , .moves-game {
    display: flex;
    font-weight: 400;
    gap: 10px;
 
}
.pazzle-container {
    margin-top: 50px;
    width: 320px;
    height: 320px;
    background-color: transparent;
    position: relative;
    border: 3px solid rgb(97, 71, 121);
}

.pazzle-card {
    background-color: rgba(118, 179, 211, 0.5);
    text-align: center;
    font-size: 50px;
    text-align: center;
    align-items: center;
   border: 1px solid rgb(207, 230, 228);
   border-radius: 7px;
   position: absolute;
   width: 80px;
   height: 80px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   transition: all .2s;
   color: rgb(216, 219, 226);
   box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   cursor: pointer;
}
.size-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
}
.size-three, .size-four, .size-five, .size-six, .size-seven, .size-eight {
    border: 1px solid rgb(97, 71, 121);
    border-radius: 5px;
    padding: 4px;
    background-color: rgba(118, 179, 211, 0.5);
    box-shadow: 0 10px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}
.size-text {
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}